.main {
    width: 100%;
}

/* Hero Section */
.hero__banner {
    position: relative;
    background-image: url('../images/bg-full.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero__scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 5px;
    color: var(--white5);
    font: normal 500 1em var(--font1);
    background-color: var(--black3);
    padding: 11px 19px;
    border-radius: 30px;
    transform: translateX(-50%);
    transition: var(--transition-slow);
}

.hero__scroll span {
    font-size: 20px;
}

.blurry {
    display: none;
}

@media screen and (min-width: 1024px) {   
    .blurry {
        position: absolute;
        display: block;
        background-image: radial-gradient(closest-side, #42a5f56b, transparent);
        width: 1000px;
        height: 1000px;
    }
}
    
.hero__blurry {
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    z-index: 1;
}

.hero__title {
    color: var(--white2);
    font: normal 600 4em var(--font1);
    letter-spacing: -1px;
    line-height: 70px;
    margin-bottom: 19px;
}

.hero__text,
.hero__text>span {
    color: var(--white3);
    font: normal 500 1em var(--font3);
    margin-bottom: 15px;
}

.hero__text>span {
    font-style: italic;
    font-weight: 700;
}

.hero__btn {
    background-color: var(--white1);
    color: var(--black3);
    font: normal 600 0.9em var(--font3);
    padding: 13px 19px;
    border: none;
    border-radius: 29px;
    transition: var(--transition-slow);
    cursor: pointer;
}

.hero__btn:hover {
    transform: scale(0.90);
}

/* Services Section */
.services {
    padding: 40px 20px;
}

.services .text {
    margin-bottom: 40px;
}

.services__cards,
.results__cards,
.metrics__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 15px;
    width: 100%;
}

.services__card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    background-color: var(--white2);
    padding: 19px;
    border-radius: 19px;
    width: 300px;
    height: 200px;
}

.services__title,
.apps__card-title {
    color: var(--black3);
    font: normal 600 1.2em var(--font1);
    letter-spacing: -1px;
}

.services__text,
.apps__card-text {
    color: var(--black1);
    font: normal 400 0.9em var(--font3);
}

.services__btn,
.apps__card-btn {
    display: flex;
    background-color: var(--color2);
    color: var(--white3);
    padding: 9px;
    border-radius: 50%;
    transition: var(--transition-slow);
}

.services__btn:hover,
.apps__card-btn:hover {
    background-color: var(--color4);
    transform: scale(0.95);
}

/* Results section */
.results__banner,
.metrics__banner {
    background-color: var(--black3);
    padding: 60px 0px;
}

.results__title,
.metrics__title {
    color: var(--white2) !important;
}

.results__text {
    color: var(--white5) !important;
    margin-bottom: 20px !important;
}

.results__cards {
    gap: 23px;
}

.results__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results__card__title {
    color: var(--color1);
    font: normal 400 2em var(--font1);
    margin-bottom: 10px;
}

.results__card__text {
    color: var(--white5);
    font: normal 500 0.9em var(--font3)
}

/* Metrics Section */
.metrics__title>em,
.testimonials__title>em,
.cta__title>em {
    background: linear-gradient(90deg, var(--color1), #a813e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: var(--font1);
}

.metrics__text {
    color: var(--white5) !important;
    margin-bottom: 29px !important;
}

.metrics__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
    width: 300px;
}

.metrics__card__icon,
.metrics__card__title {
    color: var(--color1);
}

.metrics__card__icon {
    font-size: 40px;
}

.metrics__card__title {
    font: normal 500 1.4em var(--font1)
}

.metrics__card__text {
    text-align: center;
    color: var(--white5);
    font: normal 400 0.9em var(--font3);
}

/* Modal */
.modal__contact, 
.alert__popup {
    position: fixed;
    background-color: var(--black4);
    width: 500px;
    border-radius: 19px;
    margin: auto;
    padding: 40px;
    border: none;
    outline: none;
    box-shadow: var(--shadow);
}

.alert__popup, 
.alert__popup .text {
    text-align: center !important;
}

.alert__title {
    color: var(--white1);
    font: normal 500 2.3em var(--font1);
    line-height: 34px;
    margin-bottom: 10px;
}

.modal__contact::backdrop, 
.alert__popup::backdrop {
    background-color: #000000cf;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    background-color: var(--black3);
    color: var(--white4);
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: var(--transition-fast);
}

.modal__close:hover {
    background-color: var(--black5);
    transform: scale(0.90);
}

.contact__title {
    color: var(--white3) !important;
    font-size: 2.5em !important;
}

.contact__form-group {
    margin-bottom: 19px;
}

.contact__text {
    color: var(--color1) !important;
}

.contact__text-field {
    background-color: var(--black3);
    color: var(--white1);
}

.contact__textarea {
    resize: none;
    height: 100px;
}

.contact__btn {
    background-color: var(--color1);
    color: var(--white1);
    font: normal 700 1em var(--font3);
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: var(--transition-fast);
    cursor: pointer;
}

.contact__btn:hover {
    background-color: var(--color3);
    transform: scale(0.95);
}

/* SaaS Section */
.apps__banner {
    padding: 40px 0px;
}

.apps__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    flex-flow: row wrap;
    padding: 20px 0px;
}

.apps__card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    background-color: var(--black3);
    padding: 19px;
    border-radius: 19px;
    width: 400px;
    height: 200px;
}

.apps__card-title {
    color: var(--white2);
}

.apps__card-text {
    color: var(--white4);
}

/* Testimonials */
.testimonials__banner {
    background-color: var(--black4);
    padding: 40px 0px;
}

.testimonials__title {
    text-align: left !important;
    color: var(--white1) !important;
}

.testimonials__text {
    text-align: left !important;
    color: var(--white5) !important;
}

.testimonials__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 9px;
}

.testimonials__card {
    background-image: linear-gradient(to top, var(--black4) 30%, var(--black5));
    width: 330px;
    height: 200px;
    padding: 19px;
    border-radius: 19px;
    border: 1px solid #f1f1f136;
}

.testimonials__card-client {
    display: flex;
    gap: 9px;
    margin-bottom: 13px;
}

.testimonials__card-client>span {
    display: flex;
    color: var(--color1);
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #f1f1f136;
}


.testimonials__card-title {
    color: var(--white1);
    font: normal 700 0.9em var(--font3);
}

.testimonials__card-text {
    color: var(--white4);
    font: normal 500 0.85em var(--font3);
}

/* CTA */
.cta__banner {
    background-color: var(--black4);
    padding-top: 40px;
}

.cta {
    background-image: linear-gradient(to top, var(--black4) 10%, var(--black5));
    padding: 40px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cta__title {
    color: var(--white1) !important;
}

.cta__btn {
    display: block;
    background-image: linear-gradient(to right, var(--color3), var(--color1));
    color: var(--white1);
    font: normal 500 0.9em var(--font2);
    margin: auto;
    padding: 13px 19px;
    border: none;
    border-radius: 29px;
    transition: var(--transition-slow);
    cursor: pointer;
}

.cta__btn:hover {
    box-shadow: var(--sky-blue-shadow);
    transform: scale(0.90);
}

@media screen and (min-width: 425px) { 
    .hero__title,   
    .results__title,
    .metrics__title,
    .services_title,
    .apps__title,
    .cta__title,
    .testimonials__title,
    .hero__text, 
    .results__text, 
    .services_text, 
    .metrics__text, 
    .apps__text, 
    .testimonials__text,
    .hero__btn {
        opacity: 0;
        transform: translateY(-30px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }
}